import React from 'react';

interface {{pascalCase name}}Props {

}

function {{pascalCase name}}(props: {{pascalCase name}}Props) {
    return (
        <div>{{name}}</div>
    );
}

export { {{pascalCase name}} };
export type { {{pascalCase name}}Props };
